doctype
html
    head
        meta(charset='UTF-8')
        title= title
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/main.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/').text-center JWT Demo
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.text-right.mr-3
                    li.nav-item(class=(title === 'Main' && 'active'))
                        a.nav-link(href='/') Home
                    li.nav-item(class=(title === 'Secret' && 'active'))
                        a.nav-link(href='/secret') Secret
                ul.navbar-nav.ml-auto.text-right.mr-3
                    li.nav-item(class=(title === 'Login' && 'active'))
                        a.nav-link(href='/auth/login') Login
        .container.mt-4
            block content
        script(src='/jquery.slim.min.js')
        script(src='/js/bootstrap.bundle.min.js')
