extends common/layout

block content
    h1.mb-5.text-center Register Page
    hr.mb-5
    .row.justify-content-center
        if signupError
            .col-md-8.mb-4
                .alert.alert-danger(role='alert')= signupError
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                        span(aria-hidden='true') &times;
        .col-md-8.mb-4
            form(method='POST' action='/auth/signup')
                .form-group
                    label(for='inputId') ID
                    input#inputId.form-control(type='text' aria-describedby='ID' name='id' required)
                .form-group.mb-4
                    label(for='inputPassword') Password
                    input(type='password' name='password' required)#inputPassword.form-control
                button(type='submit').btn.btn-lg.btn-block.btn-outline-primary Register